/* @import "tailwindcss";
@tailwind utilities; */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --dark: #1b1a1c;
  --text-white:#e8e6eb;
  --grey-dark: #414141;
  --light: #fff;
  --mid: #ededed;
  --grey: #989898;
  --gray: #989898;
  --green: #28a92b;
  --green-dark: #4e9815;
  --green-light: #6fb936;
  --blue: #2c7ad2;
  --purple: #8d3dae;
  --red: #c82736;
  --orange: #e77614;
  accent-color: var(--green);
   --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 120rem;
}
@theme{
 --color-dark:#1b1a1c;
 --color-text:#e8e6eb;
 --color-primary:#7464c9;
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 120rem;
} */
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/fa/YekanBakh-Light.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Caveat';
  src: url('/fonts/en/Caveat.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/fa/YekanBakh-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YekanBakh';
 src: url('/fonts/fa/YekanBakh-Regular.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakh';
   src: url('/fonts/fa/YekanBakh-SemiBold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YekanBakh';
   src: url('/fonts/fa/YekanBakh-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakh';
   src: url('/fonts/fa/YekanBakh-Black.woff') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-Bold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/en/Inter_18pt-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* حالا استفاده از فونت ها در کلاس های CSS */
.persian {
font-family: 'YekanBakh';
  direction: rtl;
  text-align: right;
    font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.english {
  font-family: 'Inter', sans-serif;
}

.cursive {
  font-family: 'Caveat', cursive;
}
* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
    scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

#smooth-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  will-change: transform;
}

#smooth-content {
  position: relative;
  min-height: 100vh;
  width: 100%; 
  /* overflow: visible; */
    min-height: 100vh;
}

.horizontal-scroll {
  display: flex;
  width: max-content; 
  height: 100dvh;
    min-height: 100vh;
}

.horizontal-scroll > section {
  width: 100vw;
  height: 100vh;
    min-height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;

}
.custom-scrollbar {
  position: relative;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
}
.thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #555;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.menu-item.active a {
  color: #7464c9;
}
html{
   font-family: 'Inter';
}

.animated-border-box, .animated-border-box-glow{
  max-height: 400px;
  max-width: 800px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
  /* Border Radius */
	border-radius: 10px;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #cd40f8, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 4s linear infinite;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
}
.heroIMG.animated-border-box:after {

	background: transparent;

}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
@media screen and (max-width: 1000px) {

  body{
    height: auto !important;
  }
  .animated-border-box {
    position: relative !important;
  }
  #smooth-content{
    display: flex;
    flex-direction: column;
    gap:4em
  }
}

/*// Border Animation END//*/


